<%- include('shared/head'); -%>
<%- include('shared/navbar'); -%>

<div class="container">
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Welcome!
                </div>
                <div class="card-body">
                    <h5 class="card-title">Backup WebRTC</h5>

                    <p class="card-text">
                        This app is a simple backup video chat solution.
                        Create or enter a room ID and join!
                    </p>

                    <form>
                        <div class="form-group">
                            <label for="roomID">Room ID</label>
                            <input type="text" class="form-control" id="roomID" placeholder="Enter your own unique room ID.">
                        </div>

                        <button id="roomSubmit" type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/index.js"></script>
<%- include('shared/foot'); -%>
